autom4te.cache
build
.deps

Makefile
Makefile.*

config.status
config.log
config.h
config.guess
config.nice
config.sub

acinclude.m4
aclocal.m4

Makefile.in
configure.in
config.h.in

libtool
install-sh
configure
ltmain.sh
missing
mkinstalldirs

*.o
*.la
*.so
*.a

run-tests.php
